@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Satisfy&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Geist", serif;
  background-color: rgb(8, 8, 8);
  overflow-x: hidden;
}

body > * {
  position: relative;
  z-index: 1;
}
