@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-bebas-neue: 'Bebas Neue', sans-serif;
  --font-instrument-serif: 'Instrument Serif', serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-space-grotesk: 'Space Grotesk', sans-serif;
}

body {
  font-family: var(--font-space-grotesk), sans-serif;
  overflow: hidden; 
  height: 100vh;
  width: 100vw;
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d8; /* zinc-300 */
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #3f3f46; /* zinc-700 */
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa; /* zinc-400 */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #52525b; /* zinc-600 */
}

/* Utility for hiding scrollbar but allowing scroll */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
